{% extends "base.html" %}
{% load cms_tags %}

{% block title %}{% page_attribute "page_title" %}{% endblock title %}

{% block content %}
    <!-- Page Content -->
    <div class="container">
        <!-- Page Heading/Breadcrumbs -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">One Column Portfolio
                    <small>Subheading</small>
                </h1>
                <ol class="breadcrumb">
                    <li><a href="/">Home</a>
                    </li>
                    <li class="active">One Column Portfolio</li>
                </ol>
            </div>
        </div>
    </div>
    {% placeholder content or %}
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <p>This is a sample boilerplate of portfolio-1-column.html template. This template contain title, breadcrumbs and such other bits like pagination. IT IS INDEED really easy to manage templates in DjangoCMS. I'm starting to like this framework. As a must-be-remembered Golden Rules, do try to memorize "placeholder content or" logic and apply it to most of your page. Glad to know it will not hurt.</p>
                </div>
            </div>
        </div>
    {% endplaceholder %}
        <!-- Pagination -->
        <div class="row text-center">
            <div class="col-lg-12">
                <ul class="pagination">
                    <li>
                        <a href="#">&laquo;</a>
                    </li>
                    <li class="active">
                        <a href="#">1</a>
                    </li>
                    <li>
                        <a href="#">2</a>
                    </li>
                    <li>
                        <a href="#">3</a>
                    </li>
                    <li>
                        <a href="#">4</a>
                    </li>
                    <li>
                        <a href="#">5</a>
                    </li>
                    <li>
                        <a href="#">&raquo;</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
{% endblock content %}
